<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
	<connectionStrings>
		<add name="default" connectionString="data source=10.88.37.17;initial catalog=BOOK_DEV2;uid=sa;password=N3wm4d1tp12#$"/>
	</connectionStrings>
</configuration>